version: '3.8'

services:
  postgres:
    image: "postgres"
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root

    volumes:
      - "postgres_data:/var/lib/postgresql/data"

volumes:
  postgres_data:
